.user_con {
    background-color: #d93444;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
   div{
    color: white;
   }
}
